<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <ul>
    <li v-for="item in info">{{item}}</li>
  </ul>

  <ul>
    <li v-for="(item,key) in info">{{item}}-{{key}}</li>
  </ul>

  <ul>
    <li v-for="(item,key,index) in info">{{index}}.{{item}}-{{key}}</li>
  </ul>
</div>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      info: {
        name: 'xi',
        age: 22,
        height: 1.88
      }
    }
  })
</script>

</body>
</html>